<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="maitest.Application"
            parameter="mail"
            id="maitest.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="maitest.Perspective"
            id="maitest.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            name="Message"
            icon="icons/sample2.gif"
            class="maitest.View"
            id="maitest.view">
      </view>
      <view
            name="Mailboxes"
            icon="icons/sample3.gif"
            class="maitest.NavigationView"
            id="maitest.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="maitest.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="maitest.category"
            id="maitest.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Opens a message dialog"
            categoryId="maitest.category"
            id="maitest.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            servletName="mail"
            themeId="org.eclipse.rap.design.example.business.theme"
            defaultEntrypointId="maitest.Application"
            title="RAP Maildemo"
            id="maitest.branding">
         <presentationFactory
               defaultLayoutId="org.eclipse.rap.design.example.business.layout"
               name="Business PresentationFactory"
               id="org.eclipse.rap.design.example.business.factory">
            <defaultStackPresentation
                  id="org.eclipse.rap.design.example.stack.view">
            </defaultStackPresentation>
         </presentationFactory>
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="themes/theme.css"
            id="maitest.theme2"
            name="My Theme">
      </theme>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="maitest.Application"
            id="maitest.branding2"
            servletName="rap"
            themeId="maitest.theme2">
      </branding>
   </extension>

</plugin>
